.main-heading {
  text-transform: uppercase;
}

.btn-holder {
  display: flex;
  justify-content: end;
}

/* section: question box  */
.question-box-section {
  position: relative;
  padding-top: 8vh;
}

.question-box-section .img-holder {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -65%);
}

/* question box */
.question-box {
  margin-bottom: 1.5rem;
}

/* flag image  */
.question+.img-holder {
  position: static;
  transform: none;
  margin-bottom: 1rem;
}

/* 4 options  */
.option {
  margin-bottom: 1rem;
  border: 1px solid var(--very-light-blue2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--very-light-blue);
  transition: 0.2s all linear;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option:hover {
  background: var(--yellow);
  border-color: transparent;
  color: #fff;
}

/* option text  */
.option span:first-child {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-right: 2rem;
}

/* next button  */
.question-box-section .btn {
  background: var(--yellow);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
}

.question-box-section .btn:hover {
  opacity: 0.9;
}

/* section: result section */
.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.content {
  margin: 2.5rem 0;
}

/* h2  */
.result-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--dark-blue);
}

/* layout order  */
.result-section .content {
  order: 2;
}

.result-section .img-holder {
  order: 1;
}

.result-section .btn-holder {
  order: 3;
}

/* final score  */
.result-section .final-score {
  font-weight: 400;
}

.final-score span {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--green);
}

/* result section button  */
.result-section .btn {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: 500;
  padding: 0.5rem 3rem;
}