@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  /* colors  */
  /* main heading  */
  --very-light-red: #F2F2F2;
  /* sub headings  */
  --blue: #2F527B;
  /* final heading result and button*/
  --dark-blue: #1D355D;
  /* options text */
  --very-light-blue: rgba(96, 102, 208, 0.8);
  /* options border  */
  --very-light-blue2: rgba(96, 102, 208, 0.6);

  /* different option state  */
  --green: #60BF88;
  --yellow: #F9A826;
  --red: #EA8282;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: url("./assets/background.png") no-repeat;
  background-position: center center;
  background-size: cover;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  color: var(--very-light-red);
}

h2 {
  font-size: 1.5rem;
  color: var(--blue);
}

section {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 29rem;
}

.btn {
  font-weight: 700;
}

@media (max-width: 34.375rem) {
  section {
    width: 21.875rem;
  }
}

@media (max-width: 23.4375rem) {
  section {
    width: 18.75rem;
  }
}